#Phase1:

##Goal of Collecting Dataset:

The primary goal of analyzing this dataset is to:

Performance Analysis: Assess team and player performances by examining various metrics such as goals, assists, and other key statistics.

Outcome Prediction: Develop models to predict match outcomes or player performances based on historical data.

Trend Identification: Discover trends and patterns in match results, player statistics, and team strategies.

We will achieve this by clustering data and classifying it using machine learning techniques acquired during the course.

##Source of Dataset:
Kaggle Platform Dataset link: https://www.kaggle.com/datasets/evangower/fifa-world-cup

##General Information about the Dataset:

Number of Attributes:15

Number of Objects:900 (Match)

Class Name/Labels: outcome

In [1]:
import pandas as pd

df = pd.read_csv('Dataset/wcmatches.csv')

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            900 non-null    int64
 1   country         900 non-null    object
 2   city            900 non-null    object
 3   stage           900 non-null    object
 4   home_team       900 non-null    object
 5   away_team       900 non-null    object
 6   home_score      900 non-null    int64
 7   away_score      900 non-null    int64
 8   outcome         900 non-null    object
 9   win_conditions  62 non-null     object
 10  winning_team    731 non-null    object
 11  losing_team     731 non-null    object
 12  date            900 non-null    object
 13  month           900 non-null    object
 14  dayofweek       900 non-null    object
dtypes: int64(3), object(12)
memory usage: 105.6+ KB
None

In [2]:

import pandas as pddf = pd.read_csv('Dataset/wcmatches.csv')print(df.info())

import pandas as pddf = pd.read_csv('Dataset/wcmatches.csv')num_row=len(df)print(num_row)

import pandas as pd

df = pd.read_csv('Dataset/wcmatches.csv')
num_row=len(df)

print(num_row)

900

------------------------------------------------------

#Phase2:

| Attributes Name | Data type | Description | Possible Values |
|----------|----------|----------|----------|
|Year |	Integer| The year of the match |	Any year (e.g., 1930, 1934, etc.)|
|Country |	String |The country hosting the World Cup | E.g., Uruguay, Italy, France, etc.|
|City	| String |	The city where the match took place	 | E.g., Montevideo, Bologna, Paris, etc.|
|Stage	| String|	The stage of the tournament |	Group 1, Group 2, Semifinals, Final, etc.|
|Home Team |	String | The team playing at home |	E.g., Brazil, Germany, Argentina, etc.|
|Away Team |	String |	The team playing away |	E.g., Mexico, Sweden, Italy, etc.|
|Home Score |	Integer	| The score of the home team |	Any non-negative integer|
|Away Score	| Integer |	The score of the away team |	Any non-negative integer|
|Outcome |	String | The result of the match |	H (Home win), A (Away win), D (Draw)|
|Win Conditions |	String |	Conditions under which the winning team was determined	Specific phrases |(e.g., "won in AET", "NA")|
|Winning Team |	String | The team that won the match |	E.g., Brazil, Italy, etc.|
|Losing Team|	String | The team that lost the match |	E.g., Mexico, Argentina, etc.|
|Date |Date |	The date of the match |	Format: YYYY-MM-DD |
|Month |String	|The month in which the match took place| E.g., Jan, Feb, Mar, Apr, ...|
|DayOfWeek |	String |	The day of the week when the match occurred | E.g., Sunday, Monday, Tuesday, etc.|

##Sample of 30 national team:

In [32]:

sample=df.sample(n=30);
print(sample);

     year        country          city          stage     home_team  \
882  2018         Russia       Saransk        Group G        Panama
136  1962          Chile      Rancagua        Group 4     Argentina
285  1978      Argentina       Mendoza        Group 4   Netherlands
457  1990          Italy      Florence  Quarterfinals    Yugoslavia
259  1974        Germany     Stuttgart        Group B        Sweden
279  1978      Argentina       Córdoba        Group 2  West Germany
305  1978      Argentina  Buenos Aires        Group A         Italy
573  1998         France   Saint-Denis  Quarterfinals        France
498  1994  United States        Dallas        Group D     Argentina
593  2002    South Korea         Busan        Group D   South Korea
749  2010   South Africa    Rustenburg        Group E       Denmark
142  1962          Chile      Santiago        Group 2  West Germany
753  2010   South Africa     Nelspruit        Group G   North Korea
414  1990          Italy          Bari        Group B  Soviet Union
436  1990          Italy        Naples        Group B     Argentina
676  2006        Germany       Hanover        Group A    Costa Rica
755  2010   South Africa  Bloemfontein        Group H   Switzerland
693  2006        Germany        Munich    Round of 16       Germany
13   1930        Uruguay    Montevideo        Group 3       Uruguay
709  2010   South Africa     Cape Town        Group A       Uruguay
618  2002    South Korea       Daejeon        Group B  South Africa
454  1990          Italy       Bologna    Round of 16       England
41   1938         France     Marseille    Round of 16         Italy
718  2010   South Africa  Johannesburg        Group E   Netherlands
895  2018         Russia         Sochi  Quarterfinals        Russia
291  1978      Argentina       Córdoba        Group 4          Iran
331  1982          Spain      Zaragoza        Group 5      Honduras
366  1986         Mexico   Guadalajara        Group D       Algeria
556  1998         France         Paris        Group E       Belgium
700  2006        Germany        Berlin  Quarterfinals       Germany

            away_team  home_score  away_score outcome  \
882           Tunisia           1           2       A
136          Bulgaria           1           0       H
285              Peru           0           0       D
457         Argentina           0           0       A
259            Poland           0           1       A
279            Mexico           6           0       H
305       Netherlands           1           2       A
573             Italy           0           0       H
498          Bulgaria           0           2       A
593            Poland           2           0       H
749             Japan           1           3       A
142             Italy           0           0       D
753       Ivory Coast           0           3       A
414           Romania           0           2       A
436           Romania           1           1       D
676            Poland           1           2       A
755          Honduras           0           0       D
693            Sweden           2           0       H
13            Romania           4           0       H
709            France           0           0       D
618             Spain           2           3       A
454           Belgium           1           0       H
41             Norway           2           1       H
718           Denmark           2           0       H
895           Croatia           2           2       A
291              Peru           1           4       A
331  Northern Ireland           1           1       D
366  Northern Ireland           1           1       D
556       South Korea           1           1       D
700         Argentina           1           1       H

                         win_conditions  winning_team   losing_team  \
882                                 NaN       Tunisia        Panama
136                                 NaN     Argentina      Bulgaria
285                                 NaN           NaN           NaN
457  Argentina won in penalties (3 - 2)     Argentina    Yugoslavia
259                                 NaN        Poland        Sweden
279                                 NaN  West Germany        Mexico
305                                 NaN   Netherlands         Italy
573     France won in penalties (4 - 3)        France         Italy
498                                 NaN      Bulgaria     Argentina
593                                 NaN   South Korea        Poland
749                                 NaN         Japan       Denmark
142                                 NaN           NaN           NaN
753                                 NaN   Ivory Coast   North Korea
414                                 NaN       Romania  Soviet Union
436                                 NaN           NaN           NaN
676                                 NaN        Poland    Costa Rica
755                                 NaN           NaN           NaN
693                                 NaN       Germany        Sweden
13                                  NaN       Uruguay       Romania
709                                 NaN           NaN           NaN
618                                 NaN         Spain  South Africa
454                  England won in AET       England       Belgium
41                     Italy won in AET         Italy        Norway
718                                 NaN   Netherlands       Denmark
895    Croatia won in penalties (4 - 3)       Croatia        Russia
291                                 NaN          Peru          Iran
331                                 NaN           NaN           NaN
366                                 NaN           NaN           NaN
556                                 NaN           NaN           NaN
700    Germany won in penalties (4 - 2)       Germany     Argentina

           date month  dayofweek  outcome_encoded  stage_encoded  \
882  2018-06-28   Jun   Thursday                0             16
136  1962-05-30   May  Wednesday                2              6
285  1978-06-07   Jun  Wednesday                1              6
457  1990-06-30   Jun   Saturday                0             18
259  1974-06-26   Jun  Wednesday                0             10
279  1978-06-06   Jun    Tuesday                2              4
305  1978-06-21   Jun  Wednesday                0              9
573  1998-07-03   Jul     Friday                2             18
498  1994-06-30   Jun   Thursday                0             12
593  2002-06-04   Jun    Tuesday                2             12
749  2010-06-24   Jun   Thursday                0             14
142  1962-05-31   May   Thursday                1              4
753  2010-06-25   Jun     Friday                0             16
414  1990-06-09   Jun   Saturday                0             10
436  1990-06-18   Jun     Monday                1             10
676  2006-06-20   Jun    Tuesday                0              9
755  2010-06-25   Jun     Friday                1             17
693  2006-06-24   Jun   Saturday                2             19
13   1930-07-21   Jul     Monday                2              5
709  2010-06-11   Jun     Friday                1              9
618  2002-06-12   Jun  Wednesday                0             10
454  1990-06-26   Jun    Tuesday                2             19
41   1938-06-05   Jun     Sunday                2             19
718  2010-06-14   Jun     Monday                2             14
895  2018-07-07   Jul   Saturday                0             18
291  1978-06-11   Jun     Sunday                0              6
331  1982-06-21   Jun     Monday                1              7
366  1986-06-03   Jun    Tuesday                1             12
556  1998-06-25   Jun   Thursday                1             14
700  2006-06-30   Jun     Friday                2             18

     month_encoded
882              1
136              2
285              1
457              1
259              1
279              1
305              1
573              0
498              1
593              1
749              1
142              2
753              1
414              1
436              1
676              1
755              1
693              1
13               0
709              1
618              1
454              1
41               1
718              1
895              0
291              1
331              1
366              1
556              1
700              1

##Show the missing value:

In [33]:
missing_values = df.isnull().sum()
print("Missing values ")
print(missing_values )
missing_counts = missing_values.sum();
print("The total of Missing value is :")
print(missing_counts)

Missing values
year                 0
country              0
city                 0
stage                0
home_team            0
away_team            0
home_score           0
away_score           0
outcome              0
win_conditions     838
winning_team       169
losing_team        169
date                 0
month                0
dayofweek            0
outcome_encoded      0
stage_encoded        0
month_encoded        0
dtype: int64
The total of Missing value is :
1176

In [31]:

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['outcome_encoded'] = le.fit_transform(df['outcome'])
df['stage_encoded'] = le.fit_transform(df['stage'])
df['month_encoded'] = le.fit_transform(df['month'])
print(df[['outcome', 'outcome_encoded']])
print(df[['stage', 'stage_encoded']])
print(df[['month', 'month_encoded']])

    outcome  outcome_encoded
0         H                2
1         A                0
2         A                0
3         A                0
4         H                2
..      ...              ...
895       A                0
896       H                2
897       H                2
898       H                2
899       H                2

[900 rows x 2 columns]
             stage  stage_encoded
0          Group 1              3
1          Group 4              6
2          Group 2              4
3          Group 3              5
4          Group 1              3
..             ...            ...
895  Quarterfinals             18
896     Semifinals             20
897     Semifinals             20
898    Third place             21
899          Final              1

[900 rows x 2 columns]
    month  month_encoded
0     Jul              0
1     Jul              0
2     Jul              0
3     Jul              0
4     Jul              0
..    ...            ...
895   Jul              0
896   Jul              0
897   Jul              0
898   Jul              0
899   Jul              0

[900 rows x 2 columns]

##Show the Min., 1st Qu., Median, Mean ,3rd Qu.,Max. for each numeric column:

In [34]:
summary_stats=df.describe();
print(summary_stats);

              year  home_score  away_score  outcome_encoded  stage_encoded  \
count   900.000000  900.000000  900.000000       900.000000     900.000000
mean   1986.915556    1.568889    1.262222         1.141111      11.628889
std      23.150270    1.489574    1.313960         0.890613       5.759555
min    1930.000000    0.000000    0.000000         0.000000       0.000000
25%    1970.000000    0.000000    0.000000         0.000000       6.000000
50%    1990.000000    1.000000    1.000000         1.000000      11.000000
75%    2006.000000    2.000000    2.000000         2.000000      17.000000
max    2018.000000   10.000000    8.000000         2.000000      21.000000

       month_encoded
count     900.000000
mean        0.858889
std         0.415333
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         2.000000

##Show the Variance:

In [36]:
variance= df.var(numeric_only=True);
print(variance);

year               535.935019
home_score           2.218831
away_score           1.726491
outcome_encoded      0.793191
stage_encoded       33.172468
month_encoded        0.172502
dtype: float64